body {
  font-family: sans-serif;
}
.card {
  margin: 15px 260px;
}
.weather-app {
  width: 110%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px auto;
}
.weather-app-wrapper {
  width: 100%;
}
#description {
  text-transform: capitalize;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
